@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

tr.hearline {
	height: 50px;
	background-color: #EDC6B1;
}

td.headertext {
	font-size: 16px;
	font-family: Arial;
	text-align: center;
	color: #ffffff;
	width : 3%;
}

td.margin01 {
	width: 65%;
}

td.margin02 {
	width: 1%;
}

tr.marginline {
	height: 40px;
}